@import '../../styles/breakpoints.scss';

.nav-footer-container{
    margin-left:-20px;
}

.page-wrapper{
    padding:15px;
    @include breakpoint(sm){
        padding:unset;
        margin-top:105px;
    }
}