@import '../../../styles/breakpoints.scss';

.nav-footer-container{
    display:flex;
    margin:auto;
    width:670px;
    justify-content: space-between;
}

.page-wrapper{
    width:100%;
    height:auto;
    margin:auto;
    @include breakpoint(lg){
        margin-top:25px;
        height:400px;
        width:670px;
    }
}

.cart-count{
    text-align: left;
    margin:0;
}

.cart-body{
    overflow-y:auto;
    max-height:50vh;
    @include breakpoint(lg){
        height:280px;
        max-height: unset;
    }
}

.products{
    border-collapse: collapse;
    tr{
        border:1px dotted #959595;
        height:auto;
    }
    td{
        padding:0;
        padding:10px;
        
    }
    p{
        font-size:0.85rem;
    }
    width:400px;
    @include breakpoint(lg){ 
        width:100%;
    }
}