@import '../../../styles/breakpoints.scss';

.nav-footer-container{
    display:flex;
    margin:auto;
    width:670px;
    justify-content: space-between;
}

.page-wrapper{
    width:100%;
    height:auto;
    margin:auto;
    @include breakpoint(lg){
        margin-top:25px;
        height:400px;
        width:670px;
    }
}

.cart-count{
    text-align: left;
    margin:0;
}