@import '../../styles/breakpoints.scss';

.about-container{
    width:100%;
    min-height: 80vh;
     > p {
         font-size: 0.85rem;
     }
    @include breakpoint(sm){
        min-height: unset;
        width:385px;
        height:330px;
        overflow-y:auto;
        margin:auto;
    }
}

.about-container::-webkit-scrollbar{
    background: #D6D6D6;
    width:5px;
}

.about-container::-webkit-scrollbar-thumb{
    background: #B5B5B5;
}

.about-container::-webkit-scrollbar-thumb:hover{
    background:#A1A1A1;
}

.page-wrapper{
    width:100%;
    position:relative;
    @include breakpoint(sm){
        margin-top:105px;
    }
}

.nav-footer-container{
    margin-right:200px;
}