@import '../../../styles/breakpoints.scss';

.nav-footer-container{
    display:flex;
    margin:auto;
    width:670px;
    justify-content: space-between;
}

.page-wrapper{
    width:100%;
    height:auto;
    margin:auto;
    @include breakpoint(lg){
        margin-top:105px;
        height:375px;
        width:670px;
    }
}

.content{
    position: relative;
}

.terms-container{
    overflow-y:auto;
    * {
        font-family: Arial, Helvetica, sans-serif ;
    }
    p{
        font-size:0.85rem;
    }
    h1, h2, h3, h4, h5, h6{
        font-weight: bold;
    }
    h1{
        font-size:1rem;
    }
    h2{
        font-size:0.95rem;
    }
    h3{
        font-size:0.9rem;
    }
    h4{
        font-size: 0.85rem;
    }
    h5{
        font-size:0.8rem;
    }
    h6{
        font-size:0.75rem;
    }
    img{
        width:100%;
    }
    a{
        color:black;
        padding:1px;
    }
    a:hover{
        color:white;
        background:red;
    }
    @include breakpoint(lg){    
        height:375px;
    }
}

.terms-container::-webkit-scrollbar{
    background: #D6D6D6;
    width:5px;
}

.terms-container::-webkit-scrollbar-thumb{
    background: #B5B5B5;
}

.terms-container::-webkit-scrollbar-thumb:hover{
    background:#A1A1A1;
}

.cart-container{
    position:absolute;
    left:-200px;
    width:180px;
    top:0;
}