@import '../../styles/breakpoints.scss';

.wrapper{
    width:100%;
    position:relative;
    @include breakpoint(sm){
        padding:0 15px;
    }
}

.header-group{
    padding-bottom:30px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    background-color: #f4f4f4;
    @include breakpoint(sm){
        background-color: unset;
        padding-bottom:unset;
    }
}

.centered-items{
    height:100%;
    width:100%;
    @include breakpoint(sm){
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}