@import '../../styles/breakpoints.scss';

.wrapper{
    padding:0 15px;
    position:relative;
}

.header-group{
    margin-bottom:30px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height:12vh;
    min-height:100px;
    @include breakpoint(lg){
        height:30vh;
        margin-bottom:105px;
    }
}