.primary-button{
    min-width:100px;
    border:none;
    background:red;
    color:white;
    padding:5px;
    cursor:pointer;
    transition:background 200ms;
}

.primary-button:hover{
    background:darken($color: red, $amount: 10)
}