.secondary-button{
    min-width:100px;
    border:none;
    background:#999999;
    color:white;
    padding:5px;
    cursor: pointer;
    transition:background 200ms;
}

.secondary-button:hover{
    background:lighten($color: #999999, $amount: 10)
}