@import "../../styles/breakpoints.scss";

.page-wrapper{
    margin:auto;
    display:flex;
    flex-direction: column;
    min-height:70vh;
    position:relative;
    box-shadow: 0 0px 3px 1px #ccc;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    @include breakpoint(sm){
        padding-top:50px;
        box-shadow: unset;
    }
    @include breakpoint(lg){
        flex-direction: row;
        min-height:unset;
        width:820px;
    }
}

.nav-footer-container{
    display:flex;
    margin:auto;
    width:670px;
    justify-content: space-between;
}

.site-tree{
    display:none;
    margin-top:62px;
    > a{
        color:white;
        text-decoration: none;
        font-size:0.65rem;
        text-transform: lowercase;
        padding:1px;
        margin:5px;
        color:black;
        @include breakpoint(lg){
            font-size:0.85rem;
        }
    }
    > a:hover{
        background:red;
        color:white
    }
    @include breakpoint(lg){
        display:inline-block;
    }
}

.main-image-container{
    position:relative;
    width:100%;
    margin-right:10px;
    @include breakpoint(lg){
        width:420px;
        max-width:65vh;
    }
}

.information-container{
    width:100%;
    z-index:1;
    @include breakpoint(lg){
        width:350px;
    }
}

.action-buttons{
    display:flex;
    > div{
        >button{
            font-weight: 600;
        }
        margin-right:10px;
    }
}

.sizes{
    margin-bottom:10px;
    > select{
        min-width:105px;
        padding:2.5px;
    }
}

.price{
    margin-bottom:20px;
}

.color{
    margin-top:0 0 10px;
    font-size:0.85rem;
    font-weight: 700;
}

.description{
    font-size:0.75rem;
    font-weight: 500;
    width:75%;
    @include breakpoint(lg){
        width:100%;
    }
}

.main-image{
    display:none;
    opacity:0;
}

.active-image{
    display:block;
    opacity:1;
}

.cart-container{
    position:fixed;
    bottom:10px;
    width:calc(100% - 30px);
    z-index:1;
    @include breakpoint(lg){
        position:absolute;
        width:150px;
        left:-150px;
        top:0;
    }
}

.main-zoomed-image{
    z-index:2;
}

.row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.link{
    text-transform: lowercase;
    text-decoration:none;
    color:black;
    font-size:0.6875rem;
    padding:1px;
    margin-left:7.5px;
    @include breakpoint(sm){
        font-size:0.85rem;
    }
}

.link:hover{
    background:red;
    color:white;
}