@import "../../styles/breakpoints.scss";

.page-wrapper{
    margin:auto;
    display:flex;
    flex-direction: row;
    margin-top:50px;
    min-height:70vh;
    @include breakpoint(lg){
        min-height:unset;
        width:820px;
    }
}

.nav-footer-container{
    display:flex;
    margin:auto;
    width:670px;
    justify-content: space-between;
}

.site-tree{
    display:none;
    margin-top:62px;
    > a{
        color:white;
        text-decoration: none;
        font-size:0.65rem;
        text-transform: lowercase;
        padding:1px;
        margin:5px;
        color:black;
        @include breakpoint(lg){
            font-size:0.85rem;
        }
    }
    > a:hover{
        background:red;
        color:white
    }
    @include breakpoint(lg){
        display:inline-block;
    }
}

.main-image-container{
    position:absolute;
    top:0;
    left:30%;
    width:450px;
    margin-right:10px;
    @include breakpoint(lg){
        position:relative;
        top:0;
        left:0;
    }
}

.information-container{
    width:100%;
    z-index:1;
    @include breakpoint(lg){
        width:350px;
    }
}

.action-buttons{
    display:flex;
    > div{
        >button{
            font-weight: 600;
        }
        margin-right:10px;
    }
}

.sizes{
    margin-bottom:10px;
}

.price{
    margin-bottom:20px;
}

.color{
    margin-top:0 0 10px;
    font-size:0.85rem;
    font-weight: 700;
}

.description{
    font-size:0.75rem;
    font-weight: 500;
    width:75%;
    @include breakpoint(lg){
        width:100%;
    }
}