@import '../../styles/breakpoints.scss';

.page-wrapper{
    margin-top:0;
    @include breakpoint(sm){
        margin-top:50px;
    }
}


.look-book-header{
    width:100%;
    margin:auto;
    display:flex;
    margin-top:20px;
    justify-content: space-between;
    > div{
        display:flex;
        align-items: flex-start;
    }
    @include breakpoint(sm){
        width:800px;
    }
}

.look-book-item-information{
    width:65vw;
    margin-left:0;
    @include breakpoint(sm){
        width:400px;
        margin-left:122px;
        max-height: 100px;
        overflow-y: auto;
    }
    &::-webkit-scrollbar{
        background: #D6D6D6;
        width:5px;
    }
    
    &::-webkit-scrollbar-thumb{
        background: #B5B5B5;
    }
    
    &::-webkit-scrollbar-thumb:hover{
        background:#A1A1A1;
    }
}

.look-book-title{
    font-size:0.85rem;
    margin:0;
}

.look-book-body{
    p{
        margin:0;
        font-size:0.85rem;
    }
    a{
        text-decoration:none;
        padding:1px;
        color:black;
    }
    a:hover{
        background:red;
        color:white;
    }
}

.navigation-button{
    margin-left:15px;
    font-size:0.85rem;
    background: black;
    padding:4px 5.5px;
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.navigation-button:hover{
    background:red;
}

.slider{
    height:unset;
    > div > div:nth-of-type(2){
        width:100%;
    }
    @include breakpoint(sm){
        height:400px;
        > div > div:nth-of-type(2){
            width:400px;
        }
    }
    @include breakpoint(lg){
        height:400px;
        > div > div:nth-of-type(2){
            width:400px;
        }
    }
}

.navigation-status{
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:0.6875rem;
    @include breakpoint(sm){
        font-size:0.85rem;
    }
}

.swiper-prev-el{
    transform:rotate(180deg);
    margin-right:10px;
    cursor:pointer;
    display:none;
    @include breakpoint(sm){
        display:block;
    }
}

.swiper-next-el{
    margin-left:10px;
    cursor:pointer;
    transform:rotate(360deg);
    display:none;
    @include breakpoint(sm){
        display:block;
    }
}

.invisible{
    opacity:0;
}

.image-pop-up{
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    left:0;
    z-index:1;
    background: white;
}

.image{
    margin:auto;
    width:100%;
    cursor: pointer;
    @include breakpoint(lg){
        width:100vh;
        height:100%;
    }
}

.mobile-logo{
    display:block;
    @include breakpoint(sm){
        display:none;
    }
}

.desktop-logo{
    display:none;
    @include breakpoint(sm){
        display:block;
    }
}