@import '../../styles/breakpoints.scss';

.page-wrapper{
    min-height:61vh;
    padding:15px;
    box-shadow: 0 0px 3px 1px #ccc;
    @include breakpoint(lg){
        padding:unset;
        box-shadow: unset;
        min-height: unset;
    }
}

.nav-footer-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin:auto;
    position:relative;
    > footer{
        margin-top:0px;
    }
    @include breakpoint(lg){
        left:-15px;
        width:623.5px;
    }
}

.other-links{
    padding:0;
    list-style: none;
    margin:0;
    margin-left: auto;
    margin-top:0px;
    a{
        text-decoration: none;
        color:black;
        padding:1px;
        font-size:0.85rem;
    }
    a:hover{
        background:red;
        color:white;
    }
    @include breakpoint(lg){
        margin-left:0;
    }
}

.family-thumbnails{
    width:100%;
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding:0;
    margin:0;
    margin:auto;
    height:100%;
    margin-top:45px;
    align-content: flex-start;
    justify-content: space-between;
    @include breakpoint(sm){
        justify-content: flex-start;
        height:440px;
        width:616px;
        max-height:60vh;
    }
}

.thumbnail{
    width:calc(33.33% - 2px);
    margin-bottom:2px;
    @include breakpoint(sm){
        margin-right:2px;
        width:120px;
    }
    @include breakpoint(lg){
        margin-right:2px;
        width:100px;
    }
}