@import '../../styles/breakpoints.scss';

.nav-footer{
    display:none;
    @include breakpoint(lg){
        display:block;
    }
}

.nav-footer > nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-list{
    margin-top:0;
    padding-left:0;
    list-style-type: none;
}

.nav-list li{
    display: inline-block;
    margin-left:15px;
    position: relative;
}

.nav-list li a:nth-child(2){
    display:none;
}

.nav-list li:hover a:nth-child(2){
    display:inline-block;
    position:absolute;
    top:1rem;
    left:0;
    width:200px;
    max-width: max-content;
}

.nav-list a{
    color:white;
    text-decoration: none;
    font-size:0.65rem;
    text-transform: lowercase;
    padding:1px;
    color:black;
    @include breakpoint(lg){
        font-size:0.85rem;
    }
}

.nav-list a:hover{
    background:red;
    color:white;
}