@import '../../styles/breakpoints.scss';

.nav-footer-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin:auto;
    position:relative;
    > footer{
        margin-top:0px;
    }
    @include breakpoint(lg){
        left:-15px;
        width:623.5px;
    }
}

.page-wrapper{
    min-height:70vh;
    padding:15px;
    box-shadow: 0 0px 3px 1px #ccc;
    @include breakpoint(lg){
        padding:unset;
        box-shadow: unset;
        margin-top:30px;
        min-height: unset;
    }   
}

.product-container{
    position:relative;
    @include breakpoint(lg){
        max-height:60vh;
    }
}

.filters{
    width:100%;
    margin-bottom:25px;
    @include breakpoint(sm){
        position:absolute;
        width:100px;
        left:calc(50vw - 130px - 10px);
        top:0;
        width:200px;
        left:calc(50% - 200px - 200px - 10px);
    }
    @include breakpoint(lg){
        width:200px;
        left:calc(50% - 335px - 200px - 10px);
    }
}

.products::-webkit-scrollbar{
    background: #D6D6D6;
    width:5px;
}

.products::-webkit-scrollbar-thumb{
    background: #B5B5B5;
}

.products::-webkit-scrollbar-thumb:hover{
    background:#A1A1A1;
}

.product{
    width:50vw;
    margin-bottom:5px;
    > a > div{
        border:1px solid transparent;
    }
    > a{
        text-decoration: none;
    }
    @include breakpoint(lg){
        width:160px;
        margin-right: 5px;
    }
}

.product:hover{
    >a > div:first-child{
        border:1px solid #D6D6D6;
    }
    > a > div{
        font-weight: 700;
    }
}

.product-information{
    width:90%;
    > p {
        font-size:0.8rem;
        margin:0;
        text-decoration: unset;
        color:black;
    }
}

.product-information:nth-child(2){
    margin-top:10px;
}

.other-links{
    padding:0;
    list-style: none;
    margin:0;
    margin-left: auto;
    margin-top:0px;
    a{
        text-decoration: none;
        color:black;
        padding:1px;
        font-size:0.85rem;
    }
    a:hover{
        background:red;
        color:white;
    }
    @include breakpoint(lg){
        margin-left:0;
    }
}