@import '../../styles/breakpoints.scss';

.nav-footer-container{
    display:flex;
    margin:auto;
    width:670px;
    justify-content: space-between;
}

.site-tree{
    display:none;
    margin-top:62px;
    > a{
        color:white;
        text-decoration: none;
        font-size:0.65rem;
        text-transform: lowercase;
        padding:1px;
        margin:5px;
        color:black;
        @include breakpoint(lg){
            font-size:0.85rem;
        }
    }
    > a:hover{
        background:red;
        color:white
    }
    @include breakpoint(lg){
        display:inline-block;
    }
}

.page-wrapper{
    margin-top:30px;   
}

.product-container{
    position:relative;
    @include breakpoint(lg){
        max-height:60vh;
    }
}

.filters{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    position:absolute;
    text-align: right;
    width:100px;
    left:calc(50vw - 130px - 10px);
    top:0;
    > a{
        color:white;
        text-decoration: none;
        font-size:0.65rem;
        text-transform: lowercase;
        padding:1px;
        line-height: 0.85rem;
        color:black;
        @include breakpoint(lg){
            font-size:0.85rem;
        }
    }
    > a:hover{
        background:red;
        color:white
    }
    @include breakpoint(lg){
        width:200px;
        left:calc(50% - 335px - 200px - 10px);
    }
}

.products{
    width:100%;
    height:auto;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    align-content: flex-end;
    @include breakpoint(lg){
        width:670px;
        align-items: flex-start;
        align-content:flex-start;
        overflow-y: auto;
        height:390px;
        flex-direction: row;
    }
}

.products::-webkit-scrollbar{
    background: #D6D6D6;
    width:5px;
}

.products::-webkit-scrollbar-thumb{
    background: #B5B5B5;
}

.products::-webkit-scrollbar-thumb:hover{
    background:#A1A1A1;
}

.product{
    width:50vw;
    margin-bottom:5px;
    border:1px solid transparent;
    height:50vw;
    @include breakpoint(lg){
        height:87.5px;
        width:87.5px;
        margin-right: 5px;

    }
}

.product:hover{
    border:1px solid #D6D6D6;
}

.product-image{
    >img{
        width:100%;
    }
}

