@import '../../styles/breakpoints.scss';

.nav-footer-container{
    display:flex;
    margin:auto;
    width:670px;
    justify-content: space-between;
}

.site-tree{
    display:none;
    margin-top:62px;
    > a{
        color:white;
        text-decoration: none;
        font-size:0.65rem;
        text-transform: lowercase;
        padding:1px;
        margin:5px;
        color:black;
        @include breakpoint(lg){
            font-size:0.85rem;
        }
    }
    > a:hover{
        background:red;
        color:white
    }
    @include breakpoint(lg){
        display:inline-block;
    }
}

.page-wrapper{
    margin-top:30px;
    min-height:70vh;
    @include breakpoint(lg){
        min-height: unset;
        margin-bottom:30px;
    }   
}

.product-container{
    position:relative;
    @include breakpoint(lg){
        max-height:60vh;
    }
}

.filters{
    position:absolute;
    width:100px;
    left:calc(50vw - 130px - 10px);
    top:0;
    @include breakpoint(lg){
        width:200px;
        left:calc(50% - 335px - 200px - 10px);
    }
}

.products::-webkit-scrollbar{
    background: #D6D6D6;
    width:5px;
}

.products::-webkit-scrollbar-thumb{
    background: #B5B5B5;
}

.products::-webkit-scrollbar-thumb:hover{
    background:#A1A1A1;
}

.product{
    width:50vw;
    margin-bottom:5px;
    > a > div{
        border:1px solid transparent;
    }
    > a{
        text-decoration: none;
    }
    @include breakpoint(lg){
        width:160px;
        margin-right: 5px;
    }
}

.product:hover{
    >a > div{
        border:1px solid #D6D6D6;
    }
}

.product-information{
    width:90%;
    > p {
        font-size:0.8rem;
        margin:0;
        text-decoration: unset;
        color:black;
    }
}

.product-information:hover{
    border-color:transparent !important;
}

.product-information:nth-child(2){
    margin-top:10px;
}