@import '../../../styles/breakpoints.scss';

.nav-footer-container{
    display:flex;
    margin:auto;
    width:670px;
    justify-content: space-between;
}

.page-wrapper{
    margin-top:30px;
    min-height: 70vh;   
    @include breakpoint(sm){
        min-height:unset;
        margin-bottom: 30px;
    }
}

.product-container{
    position:relative;
    @include breakpoint(sm){
        max-height:60vh;
    }
}

.filters{
    position:absolute;
    width:100px;
    left:calc(50vw - 130px - 10px);
    top:0;
    @include breakpoint(sm){
        width:200px;
        left:calc(50% - 200px - 200px - 10px);
    }
    @include breakpoint(lg){
        width:200px;
        left:calc(50% - 335px - 200px - 10px);
    }
}

.products::-webkit-scrollbar{
    background: #D6D6D6;
    width:5px;
}

.products::-webkit-scrollbar-thumb{
    background: #B5B5B5;
}

.products::-webkit-scrollbar-thumb:hover{
    background:#A1A1A1;
}

.product{
    width:50vw;
    margin-bottom:5px;
    height:50vw;
    > a > div{
        border:1px solid transparent;
    }
    @include breakpoint(sm){
        height:87.5px;
        width:87.5px;
        margin-right: 5px;
    }
}

.product:hover{
    >a > div{
        border:1px solid #D6D6D6;
    }
}

