@import '../../../styles/breakpoints.scss';

.nav-footer-container{
    display:flex;
    margin:auto;
    width:670px;
    justify-content: space-between;
}

.page-wrapper{
    min-height: 70vh;  
    padding:15px;
    box-shadow: 0 0px 3px 1px #ccc; 
    @include breakpoint(sm){
        padding:unset;
        box-shadow: unset;
        margin-top:30px;
        min-height:unset;
        margin-bottom: 30px;
    }
}

.product-container{
    position:relative;
    display:flex;
    flex-direction: column;
    @include breakpoint(sm){
        display: block;
        max-height:60vh;
    }
}

.filters{
    width:100%;
    margin-bottom:25px;
    @include breakpoint(sm){
        position:absolute;
        width:100px;
        left:calc(50vw - 130px - 10px);
        top:0;
        width:200px;
        left:calc(50% - 200px - 200px - 10px);
    }
    @include breakpoint(lg){
        width:200px;
        left:calc(50% - 335px - 200px - 10px);
    }
}

.products::-webkit-scrollbar{
    background: #D6D6D6;
    width:5px;
}

.products::-webkit-scrollbar-thumb{
    background: #B5B5B5;
}

.products::-webkit-scrollbar-thumb:hover{
    background:#A1A1A1;
}

.product{
    width:30vw;
    margin-bottom:5px;
    height:30vw;
    > a > div{
        border:1px solid transparent;
    }
    @include breakpoint(sm){
        height:87.5px;
        width:87.5px;
        margin-right: 5px;
    }
}

.product:hover{
    >a > div{
        border:1px solid #D6D6D6;
    }
}

