@import '../../../styles/breakpoints.scss';

.nav-footer-container{
    display:flex;
    margin:auto;
    width:670px;
    justify-content: space-between;
}

.content-invisible{
    display: none;
    @include breakpoint(sm){
        display: unset;
    }
}

.products-type{
    font-weight: bold;
    @include breakpoint(sm){
        display: none;
    }
}

.page-wrapper{
    min-height: 70vh;  
    padding:15px 0px;
    box-shadow: 0 0px 3px 1px #ccc; 
    @include breakpoint(sm){
        padding:unset;
        box-shadow: unset;
        margin-top:30px;
        min-height:unset;
        margin-bottom: 30px;
    }
}

.product-container{
    position:relative;
    display:flex;
    flex-direction: column;
    @include breakpoint(sm){
        display: block;
        max-height:60vh;
    }
}

.filters{
    width:100%;
    @include breakpoint(sm){
        margin-bottom:25px;
        position:absolute;
        width:100px;
        left:calc(50vw - 130px - 10px);
        top:0;
        width:200px;
        left:calc(50% - 200px - 200px - 10px);
    }
    @include breakpoint(lg){
        width:200px;
        left:calc(50% - 335px - 200px - 10px);
    }
}

.products::-webkit-scrollbar{
    background: #D6D6D6;
    width:5px;
}

.products::-webkit-scrollbar-thumb{
    background: #B5B5B5;
}

.products::-webkit-scrollbar-thumb:hover{
    background:#A1A1A1;
}

.product{
    margin-bottom:5px;
    width:100%;
    > a > div{
        border:1px solid transparent;
    }
    .product-thumbnail{
        width:30vw;
        height:30vw;
        margin-right: 5px;
        @include breakpoint(sm){
            height:unset;
            width:unset;
            margin-right: unset;
        }
    }
    > a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        border-bottom: 1px solid #f4f4f4;
        padding:0px 5px;
        @include breakpoint(sm){
            border-bottom:unset;
            display: unset;
            flex-direction: unset;
        }
    }
    .product-title{
        margin:0;
        color:black;
        @include breakpoint(sm){
            display: none;
        }
    }
    @include breakpoint(sm){
        height:87.5px;
        width:87.5px;
        margin-right: 5px;
    }
}

.product:hover{
    >a > div{
        border:1px solid #D6D6D6;
    }
}

