@import '../styles/breakpoints.scss';

.header-group{
    margin-bottom:50px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height:30vh;
    @include breakpoint(sm){
        height:40vh;
    }
}

.home-time-string{
    color:white;
}

.page-wrapper{
    overflow-y:hidden;
    height:100vh;
    opacity:0;
}