@import '../../styles/breakpoints.scss';


.image-slider-container{
    min-height:275px;
    height:35vh;
    width:100%;
    @include breakpoint(sm){
        width:365px;
        height:280px;
    }
}

.date{
    font-size:0.6875rem;
}

.heading{
    font-size:0.8rem;
}

.body{
    @include breakpoint(sm){
        max-height:240px;
        overflow-y:scroll;
        width:250px;
    }
}

.body > p{
    font-size:0.75rem;
    line-height:1.1rem;
}

.news-article-container{
    margin-top:35px;
    margin-bottom:50px;
    @include breakpoint(sm){
        margin-top: 0;
        margin-bottom:27.5px;
    }
}

.heading{
    margin-top:0;
}

.article-container{
    display:flex;
    flex-direction: column;
    min-height:275px;
    > div > a {
        text-decoration: none;
        padding:1px;
        color:black;
        font-size:0.75rem;
        @include breakpoint(sm){
            font-size:0.65rem;
        }
    }
    > div > a:hover {
        background:red;
        color:white;
    }
    @include breakpoint(sm){
        flex-direction: row;
        width:665px;
        margin:auto;
    }
}

.slide{
    width:100%;
    @include breakpoint(sm){
        width:650px;
    }
}

.scrollbar{
    height:5px;
    background:#D6D6D6;
    position:absolute;
    width:100%;
    bottom:-40px;
    > div{
        background:#B5B5B5;
    }
    > div:hover{
        background:#A1A1A1;
    }
}

.changed-style{
    border:1px solid red;
}

.not-visible{
    opacity:0;
}

.overlay{
    display:none;
    pointer-events: none;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 37%, rgba(255,255,255,1) 100%);
    @include breakpoint(sm){
        display:block;
    }
}

.page-wrapper{
    width:100%;
    position:relative;
    height: 440px;
    @include breakpoint(sm){
        max-height: 60vh;
        margin-top:30px;
        margin-bottom:10px;
    }
}

.nav-footer-container{
    margin-right:200px;
}