@import '../../styles/breakpoints.scss';

.page-wrapper{
    min-height:70vh;
    display:flex;
    align-items: center;
    justify-content: center;
    width:70%;
    margin:auto;
    @include breakpoint(sm){
        display:block;
        min-height:unset;
        width:540px;
        margin:auto;
        height:310px;
        margin-top:125px;
    }
}

.result-message{
    text-align: center;
    font-size:0.85rem;

}

.error{
    color:rgb(225, 0, 0);
    a{
        color:rgb(225, 0, 0);
    }
}