@import '../../styles/breakpoints.scss';

.filters-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 70vh;
    a{
      color:white;
      text-decoration: none;
      font-size:0.95rem;
      text-transform: lowercase;
      padding:1px;
      line-height: 0.85rem;
      color:black;
      text-align: left;
      padding:20px 15px;
      display: flex;
      border-bottom:1px solid #E9E9E9;
      @include breakpoint(sm){
          font-size:0.85rem;
      }
      span{
        margin-left:auto;
      }
    }
    a:hover{
        font-weight: bold;
    }
    .subcategory-link{
        color:#777777;
        font-size:0.95rem;
        display: none;
        @include breakpoint(sm){
            font-size:0.8rem;
        }
    }
    @include breakpoint(sm){
        display: none;
    }
}

.active-link{
    font-weight: 900;
}

.cart-container{
    margin-bottom:10px;
}

.category-container{
    display: flex;
    flex-direction: column;
}

.category-container:hover .subcategory-link{
    @include breakpoint(lg){
        display: block;
    }
}

.active-category .subcategory-link{
    display: block;
}

.show-filters-button{
    cursor: pointer;
    display: block;
    @include breakpoint(sm){
        display:none;
    }
}

.filters{
    transition:0.5s;
    width:100%;
    @include breakpoint(sm){
        max-height: 200vh;
    }
}

.subcategories-container{
    display:flex;
    flex-direction: column;;
    max-height:0;
    overflow: hidden;
    @include breakpoint(sm){
        max-height:7.5vh;
        overflow-y: auto;
    }
    @include breakpoint(lg){
        max-height:20vh;
        overflow-y: auto;
    }
}

.subcategories-container::-webkit-scrollbar{
    background: #D6D6D6;
    width:5px;
}

.subcategories-container::-webkit-scrollbar-thumb{
    background: #B5B5B5;
}

.subcategories-container::-webkit-scrollbar-thumb:hover{
    background:#A1A1A1;
}

.is-visible{
    max-height: 200vh;
}