@import "../../styles/breakpoints.scss";

.image-slider-container{
    min-height:275px;
    height:35vh;
    width:100%;
    @include breakpoint(lg){
        width:365px;
        height:280px;
    }
}

.date{
    font-size:0.6875rem;
}

.heading{
    font-size:0.8rem;
}

.body{
    @include breakpoint(lg){
        max-height:240px;
        overflow-y:auto;
        width:250px;
    }
}

.body::-webkit-scrollbar{
    background: #D6D6D6;
    width:5px;
}

.body::-webkit-scrollbar-thumb{
    background: #B5B5B5;
}

.body::-webkit-scrollbar-thumb:hover{
    background:#A1A1A1;
}

.body > p{
    font-size:0.75rem;
    line-height:1.1rem;
    @include breakpoint(lg){
        line-height:0.9rem;
    }
}

.wrapper{
    padding:0 15px;
}

.news-article-container{
    margin-top:35px;
    margin-bottom:50px;
    @include breakpoint(lg){
        margin-top: 0;
        margin-bottom:27.5px;
    }
}

.heading{
    margin-top:0;
}

.article-container{
    display:flex;
    flex-direction: column;
    > div > a, > div > button {
        cursor:pointer;
        background:none;
        border:none;
        text-decoration: none;
        padding:1px;
        color:black;
        font-size:0.75rem;
        @include breakpoint(lg){
            font-size:0.65rem;
        }
    }
    > div > a:hover, > div > button:hover {
        background:red;
        color:white;
    }
    > div > a {
        @include breakpoint(lg){
            display:none;
        }
    }
    > div > button{
        display:none;
        @include breakpoint(lg){
            display:inline-block;
        }
    }
    @include breakpoint(lg){
        flex-direction: row;
        width:665px;
        margin:auto;
    }
}