@import "../../styles/breakpoints.scss";

.image-slider-container{
    min-height:275px;
    height:35vh;
    width:100%;
    @include breakpoint(sm){
        width:365px;
        height:280px;
    }
}

.date{
    font-size:0.6875rem;
    @include breakpoint(sm){
        font-size:0.75rem;
    }
}

.heading{
    font-size:0.8rem;
    @include breakpoint(sm){
        font-size:0.9rem;
    }
}

.body{
    p{
        font-size:0.75rem;
        line-height:1.1rem;
        @include breakpoint(sm){
            line-height:0.9rem;
            font-size:0.85rem;
        }
    }
    h1, h2, h3, h4, h5, h6{
        font-weight: bold;
    }
    h1{
        font-size:1rem;
    }
    h2{
        font-size:0.95rem;
    }
    h3{
        font-size:0.9rem;
    }
    h4{
        font-size: 0.85rem;
    }
    h5{
        font-size:0.8rem;
    }
    h6{
        font-size:0.75rem;
    }
    img{
        width:100%;
    }
    a{
        color:black;
        padding:1px;
    }
    a:hover{
        color:white;
        background:red;
    }
    li{
        margin-bottom:15px;
        line-height: 1.4rem;
        font-size:0.85rem;
    }
    @include breakpoint(sm){
        max-height:240px;
        overflow-y:auto;
        width:250px;
    }
}

.body::-webkit-scrollbar{
    background: #D6D6D6;
    width:5px;
}

.body::-webkit-scrollbar-thumb{
    background: #B5B5B5;
}

.body::-webkit-scrollbar-thumb:hover{
    background:#A1A1A1;
}

.wrapper{
    padding:0 15px;
}

.news-article-container{
    margin-top:35px;
    margin-bottom:50px;
    @include breakpoint(sm){
        margin-top: 0;
        margin-bottom:27.5px;
    }
}

.heading{
    margin-top:0;
}

.article-container{
    display:flex;
    flex-direction: column;
    > div > a, > div > button {
        cursor:pointer;
        background:none;
        border:none;
        text-decoration: none;
        padding:1px;
        color:black;
        font-size:0.75rem;
        @include breakpoint(sm){
            font-size:0.85rem;
        }
    }
    > div > a:hover, > div > button:hover {
        background:red;
        color:white;
    }
    > div > a {
        @include breakpoint(sm){
            display:none;
        }
    }
    > div > button{
        display:none;
        @include breakpoint(sm){
            display:inline-block;
        }
    }
    @include breakpoint(sm){
        flex-direction: row;
        width:665px;
        margin:auto;
    }
}