@import '../../styles/breakpoints.scss';

.stores-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    padding:0 25px 0;
    @include breakpoint(sm){
        padding:0;
        min-height: unset;
        flex-direction: row;
    }
}

.page-wrapper{
    width:100%;
    position:relative;
    @include breakpoint(sm){
        margin-top:75px;
    }
}

.nav-footer-container{
    margin-right:200px;
}