@import '../styles/breakpoints.scss';

.layout{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    height:100vh;
    overflow-x:hidden;
    width:100vw;
    position:relative;
    @include breakpoint(lg){
        overflow: hidden;
    }
}