@import '../../styles/breakpoints.scss';

.site-tree{
    display:none;
    > a{
        color:white;
        text-decoration: none;
        font-size:0.65rem;
        text-transform: lowercase;
        padding:1px;
        margin:5px;
        color:black;
        @include breakpoint(sm){
            font-size:0.85rem;
        }
    }
    > a:hover{
        background:red;
        color:white
    }
    @include breakpoint(sm){
        display:inline-block;
    }
}